@{

}

<h1>Student Details</h1>
<table>

    <tr>

        <td>Name: </td>
        <td>@ViewBag.student.StudentName</td>

    </tr>

    <tr>

        <td>Student ID: </td>
        <td>@ViewBag.student.StudentId</td>

    </tr>

    <tr>

        <td>Date Enrolled: </td>
        <td>@ViewBag.student.DateEnrolled</td>

    </tr>

    <tr>

        <td>Course</td>
        <td>@ViewBag.student.Course</td>

    </tr>

    <tr>

        <td>Email: </td>
        <td>@ViewBag.student.Email</td>

    </tr>

</table>