<table class="table table-dark">

    <tr>
        <th colspan="6">Student</th>
    </tr>

    <tr>
        <td>Name</td>
        <td>Course</td>
        <td>Date Enrolled</td>
        <td>Email</td>
        <td>Show Details</td>


    </tr>

    </div>

    @foreach (var student in Model)
    {
        <tr>
            <td>@student.FirstName @student.LastName</td>
            <td>@student.Course</td>
            <td>@student.dateEnrolled</td>
            <td>@student.Email</td>
            <td><a asp-action="ShowDetail" asp-route-id="@student.Id">Show Details</a></td>


        </tr>

    }

</table>